h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
p {
  font-size: .9em;
}
.left-bar {
  display: inline-block;
  float: left;
  width: 15%;
}
.main-area {
  display: inline-block;
  width: 85%
}
.half-col {
  width: 48%;
  display: inline-block;
}
.left-col {
  width: 60%;
  display: inline-block;
  background-color: #EFE;
}
.right-col {
  width: 40%;
  display: inline-block;
  background-color: #EEF;
  float: right;
}
.masthead {
  margin: 3px;
  border: 1px solid black;
  font-weight: bold;
}
  .mast-blue {
    background-color: #DDF;
    border-color: #AAF;
  }
  .mast-green {
    background-color: #DFD;
    border-color: #AFA;
  }
img {
  margin: 5px;
}
img.float-left {
  float-left;
}
.left-bar img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
